/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset end*/
.height300 {
  height: 300px !important;
}
body {
  color: black;
  margin: 0;
  /*font-family: "Yu Gothic Medium", sans-serif;*/
  font-family: "Microsoft JhengHei", sans-serif;
  line-hight: 18px;
  font-weight: 400;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-size: 12px;
}
h1.page-title {
}
.new-column {
  display: flex;
}
.hast-label-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  margin: 0;
  /*background: #def;*/
  /*height: 296mm;*/
  height: 1123px;/* 96dpi */
  width: 50%;/*794px;*//*210mm;*/
}

.hast-label-item {
  padding: 10px;
  width: 85%;
  height: auto;
  /*text-align: center;*/
  border: 1px solid black;
  margin: 10px 20px;
  font-size: 12px;
}
.hast-label-item .institution {
  font-weight: bold;
  text-align: center;
  line-height: 15px;
  margin-top: 20px;
  font-size: 11px;
}
.hast-label-item .institution-name {
  display: block;
}
.hast-label-item .institution-code {
  /*margin-left: 10px;*/
  display: block;
}
.hast-label-item .collection-name {
  display: block;
  font-size: 15px;
  font-weight: 700;
}
.hast-label-item .taxon {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin: 6px 0;
  border: 1px dashed green;
}
.hast-label-item .id-container {
  margin: 20px 0;
  border: 1px solid orange;
}
.hast-label-item .taxon > span {
  display: block;
}
.hast-label-item .locality {
}
.hast-label-item .geographic-position {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.hast-label-item .left-right {
  display: flex;
  justify-content: space-between;
}
.hast-label-item .annotations {
  margin: 2px 0;
}
.hast-label-item .annotation-container{
  margin: 8px 0;
}
.hast-label-item .collect {
  display: flex;
  justify-content: space-between;
}
.hast-label-item .collect-num {
}
.hast-label-item .collect-date {
  width: 90px;
  text-align: right;
  margin-left: 2px;
}
.hast-label-item .box {
  display: block;
}
.hast-label-item .companion {
  margin: 2px 0;
}
.hast-label-item .footer {
  margin-top: 6px;
  font-weight: bold;
  font-size:10px;
  text-decoration: underline;
  text-align: center;
}
/*
  font-weight: bold;
  font-size: 3em;
*/

.page-item-wrapper {
  display: flex;
}
.page-item-column {
  width: 50%;
}
@page {
  margin: 0;
}
.sheet {
  margin: 0;
  box-sizing: border-box;
  break-after: page;
}
body.A4 .sheet {
  width: 210mm;
  height: 296mm;
}
@media screen {
  body {background: #e0e0e0;}
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}
@media print{
  .hast-label-item {
    border: 0;
  }
  @page{
    /*size: A4 portrait;*/
    width: 210mm;
    height: 296mm;
    /*margin: 30mm 45mm 30mm 45mm;*/
    /*size: 7in 9.25in;*/
    /*margin: 27mm 16mm 27mm 16mm;*/
    /*margin: 0.5cm;*/
    /*orphans:4;*/
    /*widows:2;*/
    size: auto;
    margin: 0mm;
  }
  .sheet {
    margin: 0;
    box-shadow: 0;
  }
  .hast-label-item .id-container {
    border: unset;
  }
  .hast-label-item .taxon {
    border: unset;
  }
}
