{% extends "admin/base.html" %}

{% block script %}
<script type="module" src="{{ url_for('static', filename='js/phok-form-view.js') }}"></script>
{% endblock %}

{% block main %}
<form id="main-form" class="uk-form-stacked">
  <ul uk-accordion="multiple: true">
    <li class="uk-open">
      <a class="uk-accordion-title" href="#">&lt; 基本資訊 &gt;</a>
      <div class="uk-accordion-content">
        {% include "admin/inc_collection_basic.html" %}
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">&lt; 環境 & 其他 &gt;</a>
      <div class="uk-accordion-content">
        {% include "admin/inc_collection_biotope.html" %}
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">&lt; 鑑定 &gt;</a>
      <div class="uk-accordion-content">
        {% include "admin/inc_collection_identifications.html" %}
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">&lt; 標本 &gt;</a>
      <div class="uk-accordion-content">
        {% include "admin/inc_collection_units.html" %}
      </div>
    </li>
  </ul>
  <button class="uk-button uk-button-primary">儲存</button>
</form>
{% endblock %}
