<div class="uk-grid-small uk-form-stacked" uk-grid>
  <div class="uk-width-1-2">
    <div class="uk-margin">
      <label class="uk-form-label">採集者</label>
      <div class="uk-form-controls">
        <input id="collector-input" class="uk-input" type="text" placeholder="" name="collector"  autocapitalize="none" autocorrect="off" autocomplete="off" />
        {#
        <div id="collector-list-container" class="uk-width-1-2 uk-margin-remove" uk-dropdown="mode: click; pos: bottom-justify; boundary: !.collector-input; auto-update: false>
          <ul id="collector-list" class="uk-nav uk-nav-default">
            <li></li>
          </ul>
        </div>
        #}
       </div>
    </div>
  </div>
  <div class="uk-width-1-4@s">
    <div class="uk-margin">
      <label class="uk-form-label">採集號</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" placeholder="" name="field_number" value="{{ entity.field_number or '' }}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-4@s">
    <div class="uk-margin">
      <label class="uk-form-label">採集日期</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="date" name="collect_date" value="{{ entity.collect_date.strftime('%Y-%m-%d') or '' }}"/>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2@s">
    <div class="uk-margin">
      <label class="uk-form-label">隨同人員</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="companion_text">{{ entity.companion_text or '' }}</textarea>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2@s">
    <div class="uk-margin">
      <label class="uk-form-label">隨同人員(英)</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="companion_text_en" >{{ entity.companion_text_en or '' }}</textarea>
      </div>
    </div>
  </div>
  <div class="uk-width-1-1">
    <h4> 地點</h4>
  </div>
  {% for i in entity.get_named_area_list() %}
  <div class="uk-width-1-2@s">
    <div class="uk-margin">
      <label class="uk-form-label">{{ i.label }}</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="named_area__{{ i.name }}" value="{{ i.value.display_name }}" />
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">經度 (十進位)</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="latitude_decimal" value="{{ entity.latitude_decimal or '' }}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">緯度 (十進位)</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="longitude_decimal" value="{{ entity.longitude_decimal or ''}}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">經度 (verbatim)</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="verbatim_latitude" value="{{ entity.verbatim_latitude or '' }}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">緯度 (verbatim)</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="verbatim_longitude" value="{{ verbatim_longitude or '' }}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">海拔</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="altitude" value="{{ entity.altitude or '' }}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">海拔2</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="altitude2" value="{{ entity.altitude2 or '' }}" />
      </div>
    </div>
  </div>
</div>
