<div class="uk-grid-small uk-form-stacked" uk-grid>
  <div class="uk-width-1-2">
    <div class="uk-margin">
      <label class="uk-form-label">採集者</label>
      <div class="uk-form-controls">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: triangle-down"></span>
          <input id="collector-input" class="uk-input" type="text" placeholder="" name="collector"  autocapitalize="none" autocorrect="off" autocomplete="off" my-listbox="urlPrefix: /api/v1/people; itemDisplay: display_name; appendQuery: is_collector=1,collection_id={% if entity %}{{ entity.collection_id }}{% else %}{{ collection.id }}{% endif %}" value="{% if entity and entity.collector %}{{ entity.collector.display_name }}{% endif %}" />
        </div>
        {#
        <div id="collector-list-container" class="uk-width-1-2 uk-margin-remove" uk-dropdown="mode: click; pos: bottom-justify; boundary: !.collector-input; auto-update: false>
          <ul id="collector-list" class="uk-nav uk-nav-default">
            <li></li>
          </ul>
        </div>
        #}
       </div>
    </div>
  </div>
  <div class="uk-width-1-4@s">
    <div class="uk-margin">
      <label class="uk-form-label">採集號</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" placeholder="" name="field_number" value="{% if entity %}{{ entity.field_number or '' }}{% endif %}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-4@s">
    <div class="uk-margin">
      <label class="uk-form-label">採集日期</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="date" name="collect_date" value="{% if entity and entity.collect_date %}{{ entity.collect_date.strftime('%Y-%m-%d') or '' }}{% endif %}"/>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2@s">
    <div class="uk-margin">
      <label class="uk-form-label">隨同人員</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="companion_text">{% if entity %}{{ entity.companion_text or '' }}{% endif %}</textarea>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2@s">
    <div class="uk-margin">
      <label class="uk-form-label">隨同人員(英)</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="companion_text_en" >{% if entity %}{{ entity.companion_text_en or '' }}{% endif %}</textarea>
      </div>
    </div>
  </div>
  <div class="uk-width-1-1">
    <h4>地點</h4>
  </div>
  {% for i in all_options.area_class %}
    {% if entity %}
    {% set defaultNamedArea = entity.get_named_area(i.name) %}
    {% endif %}
  <div class="uk-width-1-1">
    <div class="uk-margin">
      <label class="uk-form-label">{{ i.label }}</label>
      <div class="uk-form-controls">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: triangle-down"></span>
          <input id="named_areas__{{ i.name }}-input" class="uk-input" type="text" placeholder="" name="named_areas__{{ i.name }}" autocapitalize="none" autocorrect="off" autocomplete="off" my-listbox="urlPrefix: /api/v1/named_areas; itemDisplay: display_name; appendQuery: area_class_id={{ i.id }};{% if i.parent_id %}parentName:{{ i.parent.name }};{% endif %}{% if defaultNamedArea %}defaultValue:{{ defaultNamedArea.id }}{% endif %}" value="{% if defaultNamedArea %}{{ defaultNamedArea.display_name }}{% endif %}"/>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">經度 (十進位)</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="latitude_decimal" value="{% if entity %}{{ entity.latitude_decimal or '' }}{% endif %}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">緯度 (十進位)</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="longitude_decimal" value="{% if entity %}{{ entity.longitude_decimal or ''}}{% endif %}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">經度 (verbatim)</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="verbatim_latitude" value="{% if entity %}{{ entity.verbatim_latitude or '' }}{% endif %}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">緯度 (verbatim)</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="verbatim_longitude" value="{% if entity %}{{ entity.verbatim_longitude or '' }}{% endif %}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">海拔</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="altitude" value="{% if entity %}{{ entity.altitude or '' }}{% endif %}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@s">
    <div class="uk-margin">
      <label class="uk-form-label">海拔2</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="altitude2" value="{% if entity %}{{ entity.altitude2 or '' }}{% endif %}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-1">
    <h4>棲地環境</h4>
  </div>
  {% for i in all_options.assertion_type_entity %}
    {% if entity %}
    {% set defaultEntityAssertion = entity.get_assertion(i.name).value %}
    {% endif %}
  <div class="uk-width-1-1">
    <div class="uk-margin">
      <label class="uk-form-label">{{ i.label }}</label>
      <div class="uk-form-controls">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: triangle-down"></span>
          <input id="entity_assertions__{{ i.name }}-input" class="uk-input" type="text" placeholder="" name="entity_assertions__{{ i.id }}" autocapitalize="none" autocorrect="off" autocomplete="off" my-listbox="urlPrefix: /api/v1/assertion_type_options; itemDisplay: display_name; appendQuery: type_id={{ i.id }}; preFetch; itemSelect:value;{% if defaultEntityAssertion %}defaultValue:{{ defaultEntityAssertion }}{% endif %}" value="{{ defaultEntityAssertion or '' }}"/>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="uk-width-1-1">
    <h4>其他</h4>
  </div>
  <div class="uk-width-1-2@s">
    <div class="uk-margin">
      <label class="uk-form-label">採集記錄</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="field_note">{% if entity %}{{ entity.field_note or '' }}{% endif %}</textarea>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2@s">
    <div class="uk-margin">
      <label class="uk-form-label">採集記錄(英文)</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="field_note_en">{% if entity %}{{ entity.field_note_en or '' }}{% endif %}</textarea>
      </div>
    </div>
  </div>
  <div class="uk-width-1-1">
    <div class="uk-margin">
      <label class="uk-form-label">計畫</label>
      <div class="uk-form-controls">
        <select class="uk-select" name="project_id">
          <option value="">--</option>
          {% for p in all_options.project %}
          <option value="{{ p.id }}"{% if entity and (p.id == entity.project_id) %} selected{% endif %}>{{ p.name }}</option>
          {% endfor %}
      </select>
      </div>
    </div>
  </div>
</div><!-- end of form-stacked grid-->
