<div class="uk-grid-small uk-form-stacked" uk-grid>
  {% for unit in entity.units %}
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@s">
    <div class="uk-card-badge uk-label">{{ loop.index }}</div>
    <div class="uk-grid-small uk-form-stacked" uk-grid>
      <div class="uk-width-1-1@s">
        <p><img src="{{ unit.get_image() }}" width="75" /></p>
      </div>
      <div class="uk-width-1-4@s">
        <div class="uk-margin">
          <label class="uk-form-label">館號</label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" name="units[loop.index].catalog_number" value="{{ unit.catalog_number }}" />
          </div>
        </div>
      </div>
      <div class="uk-width-1-4@s">
        <div class="uk-margin">
          <label class="uk-form-label">壓製日期</label>
          <div class="uk-form-controls">
            <input class="uk-input" type="date" name="" value="" />
          </div>
        </div>
      </div>
      <div class="uk-width-1-1@s">
        <h4>測量</h4>
      </div>
      {% for j in unit.get_assertion_list() %}
      <div class="uk-width-1-1@s">
        <div class="uk-margin">
          <label class="uk-form-label">{{ j.label }}</label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" name="" value="{{ j.value }}" />
          </div>
        </div>
      </div>
      {% endfor%}
      <div class="uk-width-1-1@s">
        <h4>Nomenclatural Type Designations</h4>
      </div>
      <div class="uk-width-1-3@s">
        <div class="uk-margin">
          <label class="uk-form-label">Type Status</label>
          <div class="uk-form-controls">
            <select class="uk-select" aria-label="Select" name="units[loop.index].type_status">
              <option value="">-- 請選擇 --</option>
              {% for i in unit.TYPE_STATUS_CHOICES %}
              <option value="{{ i[0] }}"{% if unit.type_status == i[0] %} selected{% endif %}>{{ i[1]|capitalize }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="uk-width-2-3@s">
        <div class="uk-margin">
          <label class="uk-form-label">Type 學名</label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" name="units[loop.index].typified_name" value="{{ unit.typified_name }}" />
          </div>
        </div>
      </div>
      <div class="uk-width-1-1@s">
        <div class="uk-margin">
          <label class="uk-form-label">發表文獻</label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" name="units[loop.index].type_reference" value="{{ unit.type_reference }}" />
          </div>
        </div>
      </div>
      <div class="uk-width-1-1@s">
        <div class="uk-margin">
          <label class="uk-form-label">文獻連結</label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" name="units[loop.index].type_reference_link" value="{{ unit.type_reference_link }}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
