{% extends "admin/base.html" %}

{% block script %}
<script src="{{ url_for('admin.static_file', filename='common.js') }}"></script>
<script type="module" src="{{ url_for('admin.static_file', filename='record-form.js') }}"></script>
{% endblock %}

{% import 'admin/record_macro.html' as record_macro %}

{% block main %}
<nav aria-label="Breadcrumb">
  <ul class="uk-breadcrumb">
    <li><a href="{{ url_for('admin.index') }}">Dashboard</a></li>
    <li><a href="{{ url_for('admin.record_list') }}">採集記錄與標本</a></li>
    <li><span>{% if entity %}{{ entity.collection.label }}{% else %}{{ collection.label }}{% endif %}</span></li>
    <li><span>新增</span></li>
    </ul>
</nav>
<form id="record-form" class="uk-form-stacked" method="POST" action="{% if entity %}{{ url_for('admin.record_form', item_id=entity.id) }}{% else %}{{ url_for('admin.record_create', collection_name=collection.name )}}{% endif %}">
  <input type="hidden" name="collection_id" value="{% if entity %}{{ entity.collection.id }}{% else %}{{ collection.id }}{% endif %}">
  <p>Collection: <span class="uk-label uk-label-warning">{% if entity %}{{ entity.collection.label }}{% else %}{{ collection.label }}{% endif %}</span></p>

  {# quick menu #}
  <div class="uk-card uk-card-secondary uk-card-body uk-card-small uk-position-z-index" uk-sticky="start: 200; end: !.uk-form-stacked; offset: 50; animation: uk-animation-slide-top">
    <div class="uk-flex uk-flex-between">
         <ul class="uk-subnav uk-subnav-divider uk-margin-remove-bottom" uk-margin>
         <li{# class="uk-active"#}><a href="#nav-scroll-gathering" uk-scroll>1. 採集資訊</a></li>
         <li><a href="#nav-scroll-identification" uk-scroll>2. 鑑定</a></li>
         <li><a href="#nav-scroll-unit" uk-scroll>3. 標本</a></li>
         </ul>
         <div>
           <button class="uk-button uk-button-default uk-button-small uk-margin-remove" type="submit" name="submit" value="save-edit">儲存: 繼續編輯</button>
           <button class="uk-button uk-button-default uk-button-small uk-margin-remove" type="submit" name="submit" value="save-list">儲存: 回清單</button>
         </div>
    </div>
  </div>

  <hr class="uk-divider-icon">
  <h3 id="nav-scroll-gathering"> 1. 採集資訊</h3>
  {% include "admin/inc_entity_gathering.html" %}
  <h3 id="nav-scroll-identification">2. 鑑定</h3>
  <div><a id="create-identification" href="#" class="uk-button uk-button-primary uk-button-small">新增鑑定</a></div>
  <div id="identification-template" hidden>
    {{ record_macro.identification_box(all_options, 'identifications__NEW__', None, __NEW__) }}
  </div>
  <div class="uk-grid-small uk-form-stacked" id="identification-container" uk-grid>
    {% if entity %}
      {% for i in entity.identifications %}
      {% set id_key = "identifications__" + i.id|string + "__" %}
      {{ record_macro.identification_box(all_options, id_key, i, loop.index) }}
      {% endfor %}
  {% else %}
      {{ record_macro.identification_box(all_options, 'identifications__NEW__', None, __NEW__) }}
    {% endif %}
  </div>

  <h3 id="nav-scroll-unit">3. 標本</h3>
  <div><a id="create-unit" href="#" class="uk-button uk-button-primary uk-button-small">新增標本</a></div>
  <div id="unit-template" hidden>
    {{ record_macro.unit_box(all_options, 'units__NEW__', None, __NEW__) }}
  </div>
  <div class="uk-grid-small uk-form-stacked" uk-grid id="unit-container">
    {% if entity %}
      {% for unit in entity.units %}
        {% set unit_key = "units__" + unit.id|string + "__" %}
        {{ record_macro.unit_box(all_options, unit_key, unit, loop.index) }}
      {% endfor %}
    {% else %}
      {{ record_macro.identification_box(all_options, 'identifications__NEW__', None, __NEW__) }}
    {% endif %}
  </div>

  <hr class="uk-divider-icon">
  <div class="uk-flex uk-flex-between uk-margin">
    <div>
      <button class="uk-button uk-button-primary" id="entity-form-submit" name="submit" type="submit" value="save-edit">儲存: 繼續編輯</button>
      <button class="uk-button uk-button-primary" id="entity-form-submit" name="submit" type="submit" value="save-list">儲存: 回清單</button>
    </div>
    <div>
      {% if entity %}<button class="uk-button uk-button-danger item-delete-confirm" id="delete-entity" name="delete-entity" data-deleteurl="{{ url_for('admin.record_form', item_id=entity.id) }}" type="button">刪除</button>{% endif %}
    </div>
</form>
{% endblock %}



  {#
  <ul uk-accordion="multiple: true">
    <li class="uk-open">
      <a class="uk-accordion-title" href="#">&lt; 基本資訊 &gt;</a>
      <div class="uk-accordion-content">
        {% include "admin/inc_entity_basic.html" %}
      </div>
    </li>
    <li>

      <a class="uk-accordion-title" href="#">&lt; 環境 & 其他 &gt;</a>
      <div class="uk-accordion-content">
        {% include "admin/inc_entity_assertion.html" %}
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">&lt; 鑑定 &gt;</a>
      <div class="uk-accordion-content">
        {% include "admin/inc_entity_identification.html" %}
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">&lt; 標本 &gt;</a>
      <div class="uk-accordion-content">
        <div><a id="create-unit" href="#" class="uk-button uk-button-primary uk-button-small">新增標本</a></div>
        <div id="unit-template" hidden>
          {{ record_macro.unit_box(all_options, 'units__NEW__', None, __NEW__) }}
        </div>
        <div class="uk-grid-small uk-form-stacked" uk-grid id="unit-container">
          {% for unit in entity.units %}
          {% set unit_key = "units__" + unit.id|string + "__" %}
          {{ record_macro.unit_box(all_options, unit_key, unit, loop.index) }}
          {% endfor %}
        </div>
    </li>
  </ul>
  #}
