<li><a href="#" class="uk-icon-button" uk-icon="icon: plus-circle"></a></li>
<div id="phok-filter-dropdown" class="uk-width-xlarge" uk-dropdown="mode: click; pos:left-top">
  <div class="uk-dropdown-grid uk-child-width-1-1@m" uk-grid>
    <div id="phok-filter-nav-ctrl" hidden>
      <form class="uk-form-horizontal uk-margin-large">
        <div class="uk-margin" id="phok-filter-nav-ctrl-input-wrapper">
          <label id="phok-filter-label" class="uk-form-label" for="form-horizontal-text">Text</label>
          <div class="uk-form-controls">
            <input id="phok-filter-input" class="uk-input" id="form-horizontal-text" type="text">
          </div>
        </div>
        <div class="uk-margin" id="phok-filter-nav-ctrl-type-status-wrapper" hidden>
          <label class="uk-form-label" for="form-horizontal-select">Type Status</label>
          <div class="uk-form-controls">
            <select class="uk-select" id="phok-filter-nav-ctrl-type-status-select">
              <option value="">--</option>
              {% for opt in options.type_status %}
              <option value="{{ opt[0]}}">{{ opt[1] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <button id="phok-filter-submit-button" class="uk-button uk-button-secondary">篩選</button>
        <button id="phok-filter-cancel-button" class="uk-button uk-button-default">取消</button>
      </form>
    </div>
  </div>
  <div id="phok-filter-nav-list" class="uk-dropdown-grid uk-child-width-1-4@m" uk-grid>
    <div>
      <ul class="uk-nav uk-dropdown-nav">
        {#
        <li class="uk-active"><a href="#">Active</a></li>
        <li><a href="#">Item</a></li>
        #}
        <li class="uk-nav-header">物種</li>
        <li><a href="#" class="phok-filter-nav" data-res="taxon" data-key="taxon_name">學名或中文名</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#" class="phok-filter-nav" data-res="taxon.family" data-key="taxon">科名</a></li>
        <li><a href="#" class="phok-filter-nav" data-res="taxon.genus" data-key="taxon">屬名</a></li>
        <li><a href="#" class="phok-filter-nav" data-res="taxon.species" data-key="taxon">種名</a></li>
      </ul>
    </div>
    <div>
      <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-nav-header">採集資訊</li>
        <li><a href="#" class="phok-filter-nav" data-res="people" data-key="collector">採集者</a></li>
        <li><a href="#" class="phok-filter-nav" data-key="field_number">採集號</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#" class="phok-filter-nav" data-key="collect_date" data-type="date">採集日期</a></li>
        <li><a href="#" class="phok-filter-nav" data-key="collect_date.month" date-type="date.month">採集月份</a></li>
      </ul>
    </div>
    <div>
      <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-nav-header">採集地點</li><!-- TODO -->
        <li><a href="#" class="phok-filter-nav" data-res="namedareas.country" data-key="namedareas">國家</a></li>
        <li><a href="#" class="phok-filter-nav" data-res="namedareas.provinceState" data-key="namedareas">省/州</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#" class="phok-filter-nav" data-res="namedareas.county" data-key="namedareas">縣/市</a></li>
        <li><a href="#" class="phok-filter-nav" data-res="namedareas.mun.." data-key="namedareas"class="phok-filter-nav" data-res="taxon.family" data-key="taxon">鄉/鎮</a></li>
        <li><a href="#" class="phok-filter-nav" data-res="namedareas." data-key="namedareas">國家公園</a></li>
        <li><a href="#" class="phok-filter-nav" data-res="namedareas.locality" data-key="namedareas">地名</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#" class="phok-filter-nav" data-res="altitude" data-key="altitude" data-type="text.range">海拔</a></li>
      </ul>
    </div>
    <div>
      <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-nav-header">標本資訊</li>
        <li><a href="#" class="phok-filter-nav" date-key="accession_number">館號</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#" class="phok-filter-nav" data-key="type_status" date-type="select.type_status">模式標本</a></li>
      </ul>
    </div>
  </div>
</div>
