{% extends "base.html" %}

{% block main %}
<div class="uk-container uk-container-small uk-margin uk-margin-large-top">
  <article class="uk-article">
    <h1 class="uk-article-title">簡介</h1>
    <h2 class="uk-heading-bullet">植物標本館做些什麼？</h2>
    <p>植物標本館是蒐藏及研究植物標本的地方。這裡有許多植物採集者至野外調查，或採集所製作而保存下來的證據標本。持續長期有系統的蒐藏、交換、研究及管理，標本館就可以提供植物學相關領域的研究者和植物愛好者，作為研究某一特定類群﹙例如：種，屬，科﹚的地方。到標本館可以比對物種的學名，觀察物種較完整的外表形態或性狀﹙如枝條、葉、花、果實和種子﹚的變異；並歸納出某一物種的開花結果時期、地理分佈範圍和生育地環境等相關資訊。</p>
    <h2 class="uk-heading-bullet">為什麼需要標本館？</h2>
    <p>不論是植物分類研究、植物生態或資源調查、藥學及生物技術等方面的研究，都必須有證據標本，提供將來查證比對之用。根據國際植物命名法規：一新的物種首次被命名發表時，植物學家必須指定一份標本為正模式（holotype），且必須指明蒐藏的標本館，以供其他學者及後人比對研究。若將標本上所記錄的資料輸入電腦，建立資料庫，將可以提供大家迅速的查詢。</p>
    <p>現今分子生物技術日益精進，已可自古老標本中萃取DNA，因此標本館蒐藏豐富與否，在未來生物科學研究上益形重要。</p>
    <p>標本交換為本館的重要業務之一。透過標本之交換除可以互補各機構間蒐藏、研究專長的不足及提昇學名鑑定的正確性外，亦有分散收藏、降低天災或人為導致的損失風險，以確保研究成果；並可相互檢驗及訂正鑑定的結果，增加資料的可信度，提高使用效率，達到資源互惠共享。</p>
    <h2 class="uk-heading-bullet">為什麼必須持續前往各地採集？</h2>
    <ul class="uk-list uk-list-bullet">
      <li>瞭解某種植物的生育環境；生長及生殖情形；及在不同分佈範圍的形態變異。</li>
      <li>比較研究某一植物類群內的所有物種之分類性狀和生育地特性。</li>
      <li>瞭解特定地區的植物資源種類、地理分佈、和豐富度。</li>
      <li>追蹤並歸納隨環境及時間而變遷的植物組成變化。</li>
    </ul>

    <h2 class="uk-heading-bullet">標本館歷史</h2>
    <div class="uk-panel">
      <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="{{ url_for('static', filename='img/Hast4.jpeg') }}">
      <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="{{ url_for('static', filename='img/Hast6.jpeg') }}">
      <p>本館由已故的莊燦煬教授創於1961年（時任本所助理研究員）。次年莊先生赴美深造，所有相關業務旋告停頓。1982年底，彭鏡毅博士恢復運作，並以HAST代號（Herbarium, Institute of Botany, Academia Sinica, Taipei）申請登錄於國際標本館索引（Index Herbariorum）。生物多樣性研究中心於2004年正式成立後，動物所及植物所即分別將此二館典藏之所有標本、設備、空間及人員移交給多樣中心，並於2007年3月15日院務會議討論通過，合併改制為『中央研究院生物多樣性研究博物館』（Biodiversity Research Museum, Academia Sinica）。</p>
      <p>彭博士於1995至1999年兼任植物標本館主任；1999年8月 至2003年6月由趙淑妙研究員兼任；2003年6月6日起至2007年3月15日由彭鏡毅研究員兼主任；之後動、植物標本館合併為中央研究院生物多樣性研究博物館，由彭鏡毅研究員兼任主任至2015年7月31日退休；續由邵廣昭研究員兼任至2016年7月31日；目前由鍾國芳副研究員兼任博物館主任。</p>
      <p>本館位置始於植物所研究大樓北樓402研究室，因標本量漸增，於1990年遷至生物館(黃樓)東南側增建部分(原為植物所圖書室，已於2014年拆除)二樓，約30坪使用空間；1991年擴大使用增建部分一樓；1993年續整理黃樓一樓東側約30坪使用；1998年溫室主控大樓(白樓)地下室約60坪規劃為新鮮標本處理室及複分標本室。2013年為配合院方規劃，擬搬遷至白樓地下室約89坪空間，裝修施工期間標本裝箱暫存跨領域大樓，並暫停對外開放及標本業務；2015年2月搬遷完畢正式重新對外開放。</p>
    </div>

    <h2 class="uk-heading-bullet">標本館現況</h2>
    <p>本館主要蒐藏台灣（含附屬島嶼）及東亞維管束植物。特殊的蒐藏有菊科、秋海棠科、鴨跖草科、珍珠菜屬（報春花科）、細辛屬（馬兜鈴科）、魔芋屬（天南星科）、茜草科、地錦屬（大戟科）及茶科。蕨類則有王弼昭先生畢生採集遺贈的珍貴標本約9,000份。此外，尚有日據時代重要採集者島田彌市（Yaiti Simada）先生之標本2,000餘份、台灣蘭科專家蘇鴻傑教授贈送本館包含85屬246種台灣原生蘭科標本，以及與美國加州科學院及哈佛大學交換獲得的大量中國西南地區植物標本。2000年初朱宇敏博士加入植物所，本館即開始真菌類標本之蒐藏。迄2016年9月，典藏之植物標本已達140,000餘號，其中53件標本已列為本院珍貴動產。</p>
    <p>本館與世界約30所學術機構交換複份標本，以換取東亞（特別是大陸及日本）植物為重點。目前交換對象除國內各大學及植物研究機構外，遍及亞洲各國、美國、英國及荷蘭之主要大學、植物標本館、博物館與植物園等。</p>
    <p>自1992年起，本館得到中央研究院植物研究所及行政院農業委員會支持，由彭鏡毅博士研究室及標本館同仁執行「台灣植物資源調查及資料庫建立」計劃。目的是建立台灣植物普查資料，提昇本土植物種原保護，蒐集環境影響評估之資料，並建立資料庫於網際網路。</p>
    <p>自1995年起在中央研究院計算中心的協助下，本館研究蒐藏之成果已公佈於全球網際網路，為台灣第一個開放於網路上的資料庫。彭鏡毅研究員於1996年編輯出版之「台灣維管束植物編碼索引」（農委會贊助）也置於該網站。</p>
    <p>2002年起執行「數位典藏國家型科技計畫」，將各類植物之標本、文獻、分布及生態影像等珍貴典藏品數位化，建置資料庫，並公開於網路提供各界查詢利用（2022年9月已建檔標本標籤資料145,730筆、標本影像100,260筆、植物生態影像12,731筆）。博物館之典藏品，經過數位化過程獲得重生；經由網際網路之流通平台，提供學術研究、科普教育等全方位之利用，並呈現了台灣傲人的生物多樣性。</p>


    <h2 class="uk-heading-bullet">社會服務</h2>
    <p>近年來本館持續開放給學校團體參觀研習，增進國人對植物標本製作，標本館功能、運作與蒐藏的認識。若有參觀或研習的需求， 請在一個月前預約及發公文以安排參觀事宜。對於一般遊客，僅提供在每年院區開放日限額預約導覽參觀，不便之處敬請見諒。</p>
    <img class="uk-align-left uk-margin-remove-adjacent" src="{{ url_for('static', filename='img/specimen.jpeg') }}">
  </article>
</div>
{% endblock%}
