
{% extends "base.html" %}

{% block main %}
<div class="uk-container uk-container-small uk-margin uk-margin-large-top">
  <article class="uk-article">
    <h1 class="uk-article-title">植物標本製作</h1>
    <p>曾經為野外盛開的花朵或造形奇特的葉片而驚豔嗎？拾起地上的落花，小心翼翼地夾入日記本裡，希望能保存這剎那間的美麗 …… 啊哈您已經踏出植物標本製作的第一步了！然而製作標本不僅只是為了個人的收藏喜好，同時也可作為鑑識及保存物種的具體材料；對專業的研究人員而言，一份好的標本更是自己及他人進行研究的重要依據。</p>
    <h2 class="uk-heading-line"><span>何謂植物標本？</span></h2>
    <p>廣意而言，標本為可以保存植物任何一部特徵以做為記錄或提供研究之用的樣本。因此，凡舉陽台上的盆栽、書本夾著的楓葉書籤、顯微鏡下的組織切片…甚至仿製得唯妙唯肖的人造花，只要有具體的辨識特徵，皆可列得上標本之席。然而一般我們所說的「標本」，多指如臘葉標本及浸液標本等具研究目的的標本，此類標本只要處理得當，便可長期保存植物的形態特徵，因此國內外標本館也以此類標本為主要收藏內容。</p>
    <h2 class="uk-heading-line"><span>為什麼要採集標本？</span></h2>
    <p>採集標本絕對不是頂著「採集」的藉口任意攀折花木！標本館裡的每一份標本都是經過工作人員們謹慎判斷後，具有研究價值者才動手採集。花草樹木也是有生命的，一旦採下了它，就得負責到底。所有採下的植物都得經過許多步驟小心處理，製成標本保存，沒有一草一葉是可以隨意丟棄浪費的。</p>
    <p>既然一份標本的來源如此繁瑣，究竟如此辛苦製作標本的目的何在呢？科學研究講求具體的證據，在描述一種植物時再詳盡的文字說明也不若一份好的標本那麼簡潔有力；而且有具體的標本，研究人員在鑑定植物的種類時也才有其實際的比對依據。換句話說，標本館就像一本大型的植物圖鑑，提供與各種植物相關的珍貴資料。</p>
    <h2 class="uk-heading-line"><span>標本的種類</span></h2>
    <p>自古植物學家及花卉愛好者們便為了如何長期保存枝葉花果而大傷腦筋，有人潛心於研究乾燥花的製作，發展出使花朵常保色彩鮮艷的技術；也有人以金箔或有機玻璃鑲嵌於植物體，製成精美的標本維持其栩栩如生的姿態。但是這些方法的成本太高且製作過程複雜，並不適用於研究用標本的處理。以下為一般標本館典藏標本的三種類型：</p>

    <h5 class="uk-heading-line"><span>1. 原色標本</span></h5>
    <p>原色標本是利用急速脫水以保持花朵和葉片的顏色，或以化學藥品處理使植物色素的性質變而不易褪色然而其製作過程繁複且不易長久保存，再加上很難達到不失真的原色，故標本館中此類標本很少有人製作。</p>
    <h5 class="uk-heading-line"><span>2. 浸液標本</span></h5>
    <p>浸液標本可以長期保存植物脫水後難以保持原形的花、果及肉質組織。其製作方法為將欲保存的部分浸漬於酒精和福馬林配製的防腐溶液中，以玻璃瓶保存。浸液標本的成本較高且所佔空間龐大，通常只使用於無法製作成臘葉標本的植物。</p>
    <h5 class="uk-heading-line"><span>3. 臘葉標本</span></h5>
    <p>臘葉標本為將植物體壓平脫水後固定於台紙上保存。其製作過程簡易，在整理和查看上也很方便，因此一般標本館的標本多以此種方式收藏。也因這是最常見的標本製作方法，本單元將更進一步介紹臘葉標本的製作流程。</p>

    <h2 class="uk-heading-line"><span>植物標本的採集與製作</span></h2>
    <p>一份好的標本應具備以下件條件：</p>
    <ul class="uk-list uk-list-bullet">
      <li>莖、葉、花、果實、種子俱全，能提供詳盡的鑑定特徵。</li>
      <li>植物體各部位的安置可清楚地顯示各項特徵，方便使用者觀察。</li>
      <li>盡量使各器官維持原狀，且保存良好，沒有蟲蛀發霉的情況。</li>
      <li>簡明但準確地記載植物的生長環境，讓使用者容易了解其現地狀況。</li>
    </ul>
    <h3 class="uk-heading-line"><span>採集</span></h3>
    <p>要製作植物標本，採集的工作當然是不能少的。親身至野外採集，除了體會一下大自然悠然自在，深吸一口清新的空氣，更要仔細觀植物的生活形態和生長環境，並且詳加記錄，這些資料對將來標本的鑑定整理及研究工作都是非常重要的。準備好要一睹植物在山野中的迷人風采了嗎？走吧，打包行囊，準備出發囉！</p>

    <h5 class="uk-heading-line"><span>1. 採集工具</span></h5>
    <p>野外採集可不是帶著魷魚絲和汽水的賞花郊遊哦！攜帶足夠的水和食物，穿著輕便吸汗的服裝的帽子，同時配備了適宜的採集用具，才能使採集工作事半功倍。此外常用的急救藥品也是不可少的，更別忘了出門在外最重要的一件事－安全第一！</p>
    <div><img src="/static/img/tools.jpg" /></div>
    <h5 class="uk-heading-line"><span>2. 採集要點</span></h5>
    <p>標本主要為提供鑑定、保存及研究之用，故採集植物時需注意選取其容易辨識的特徵；同時要儘量採集健全植物上的標本，避免幼小、發育不良的植株及腐爛或蟲害的組織，剪取適當的長度，能使之後標本的處理工作較為輕鬆。為了製作更完善的標本，採集植物時有幾個小要領：</p>
    <ul class="uk-list uk-list-bullet">
      <li>植物在日照充足的地區生長情況良好，較容易採得健全的標本。</li>
      <li>選取帶有花和果實的枝條，無法兩者俱全時則至少有花或果；蕨類植物則需同時採集營養葉及帶孢子囊的葉片。</li>
      <li>採集的長度約30~50公分（約一張台紙大小），草本植物需連根採集。</li>
      <li>大型葉片的種類可採一部分的葉片顯示其葉脈、葉尖、葉基的特徵，再配以花果，必要時可分置於多張台紙上。</li>
      <li>寄生植物需連寄主的組織一起採集，並註明寄主的種類。</li>
    </ul>
    <h5 class="uk-heading-line"><span>3. 採集記錄</span></h5>
    <p>植物經乾燥製成標本之後，其顏色及形態或多或少都會受到改變。因此採集時做詳細的記錄對往後的鑑定工作是很重要的，對植物的各項性狀、顏色、氣味等，都要仔細地記錄下來，而對植物分佈位置和生長、繁殖季節的描述也是鑑定和研究時的重要依據。再者採集者、採集時間及採集編號也要列入採集記錄中，每一份標本都有一個唯一的編號，以便將來歸檔、查詢。</p>

    <p>寫採集記錄時應儘量避免過於主觀的描述，且野外採集時標本數量多，要有效率地做採集記錄，最好的方法還是製作一張簡單的表格，再以定義明確的詞句扼要地把所觀察到的項目填寫上去。</p>

  </div>
{% endblock %}
