{% extends "base.html" %}

{% block main %}
<div class="uk-container uk-container-small uk-margin uk-margin-large-top">
  <article class="uk-article">
    {#<h1 class="uk-article-title">注意事項</h1>#}
    <h2 class="uk-heading-bullet">參觀中央研究院生物多樣性研究中心植物標本館注意事項</h2>
    <dl class="uk-description-list">
    <dt>開館時間</dt>
    <dd>週一至週五9:00－12:00 13:30-16:30 星期例假及國定假日休館</dd>
    <dt>參觀須知</dt>
    <dd>機關團體請一個月前先電話連繫並發公文，說明參觀日期、時間、人數及所屬單位，並按預定時間前來參觀。</dd>
    <dt>人員限制</dt>
    <dd>每日可接待二梯次共20人次，每週最多二次共40人次。國小三年級(含)以上。</dd>
    </dl>
    <p class="uk-text-bold uk-text-danger">＊無對一般遊客開放，因個人實際研究需要研閱標本者，請另行預約。</p>

    <h5 class="uk-heading-bullet"><span>注意事項</span></h5>
    <ul class="uk-list uk-list-decimal">
      <li>訪客入館請簽名，離館請知會館員。</li>
      <li>參觀者所攜帶之物品，如背包、雨具等，不得攜入標本陳列室。</li>
      <li>本館嚴禁攜入新鮮或未經冷凍殺蟲之動植物活體或標本。</li>
      <li>禁止在標本陳列室內飲食。</li>
    </ul>


    <div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          {#<h3 class="uk-card-title">Default</h3>#}
          <p>
            地址：115臺北市南港區研究院路二段128號 中央研究院植物標本館</br>
            電話：(02) 2787-2223 劉小姐</br>
            傳真：(02) 2651-6332
          </p>
        </div>
      </div>
    </div>

    <h2 class="uk-heading-bullet">研閱本館標本注意事項</h2>
    <p class="uk-article-meta">1999.08.23 修訂</p>

    <ul class="uk-list">
      <li>一、訪客入館請簽名，離館請知會館員。</li>
      <li>二、本館嚴禁攜入新鮮或未經冷凍殺蟲之動植物活體或標本。</li>
      <li>三、除開水外，禁止在標本陳列室內飲食。</li>
      <li>四、取用標本正面朝上與地面平行，打開屬、種套後，小心拿取標本，切勿抽取。</li>
      <li>五、標本脫落部份請放入碎片小袋內。</li>
      <li>六、鑑定標本請用「立貼」寫上學名、鑑定者（中英文）、鑑定日期，貼在台紙上，置於桌面待本館人員處理。</li>
      <li>七、本館提供解剖顯微鏡、解剖針、立貼、各種工具書等（請洽工作人員）；並提供部份資料庫列印服務（例如：本館典藏<i><font face="Times New Roman">Begonia</font></i> 屬植物的採集地點等）。</li>
      <li>
        八、如需摘取標本部分研究材料，請遵守以下規定：
        <ul class="uk-list uk-list-decimal">
          <li>須先徵得館主任同意。</li>
          <li>不可由模式標本或同種標本少於五張者取用任何部分。</li>
          <li>每張標本至多僅取一朵花之花粉，並儘量不破壞花的完整性。</li>
          <li>同一張標本不可取兩次相同材料。</li>
          <li>被取用之標本須貼上標籤，註明取用人、取用日期及取用部位。</li>
          <li>若摘取材料做 SEM、TEM 或 PCR 等研究，應將照片或發表之研究報告致贈本館，並註明採集者、採集號、放大倍率等資料。</li>
        </ul>
      </li>
      <li>九、研究報告中若有引證本館標本，應於發表之報告上加註本館代號（HAST ），並將研究著作致贈本館一份。</li>
      <li>十、本館標本之出借，原則上只對標本館或機關，而不對個人提供服務。若需借出標本，須有標本館館主任（curator）或單位首長之借函經本館主任同意。非模式標本借期以一年為限，模式標本則以三個月為限；視情況經辦妥續借手續，得以延長。</li>
    </ul>
    
    <p>
                    一、訪客入館請簽名，離館請知會館員。<br>
                    二、本館嚴禁攜入新鮮或未經冷凍殺蟲之動植物活體或標本。<br>
                    三、除開水外，禁止在標本陳列室內飲食。<br>
                    四、取用標本正面朝上與地面平行，打開屬、種套後，小心拿取標本，切勿抽取。<br>
                    五、標本脫落部份請放入碎片小袋內。<br>
                    六、鑑定標本請用「立貼」寫上學名、鑑定者（中英文）、鑑定日期，貼在台紙上，置於桌面待本館人員處理。<br>
                    七、本館提供解剖顯微鏡、解剖針、立貼、各種工具書等（請洽工作人員）；並提供部份資料庫列印服務（例如：本館典藏<i><font face="Times New Roman">Begonia</font></i> 屬植物的採集地點等）。<br>
                    八、如需摘取標本部分研究材料，請遵守以下規定：<br>
                    1.須先徵得館主任同意。<br>
                    2.不可由模式標本或同種標本少於五張者取用任何部分。<br>
                    3.每張標本至多僅取一朵花之花粉，並儘量不破壞花的完整性。<br>
                    4.同一張標本不可取兩次相同材料。<br>
                    5.被取用之標本須貼上標籤，註明取用人、取用日期及取用部位。<br>
                    6.若摘取材料做 SEM、TEM 或 PCR 等研究，應將照片或發表之研究報告致贈本館，並註明採集者、採集號、放大倍率等資料。<br>
                    九、研究報告中若有引證本館標本，應於發表之報告上加註本館代號（HAST ），並將研究著作致贈本館一份。<br>
                    十、本館標本之出借，原則上只對標本館或機關，而不對個人提供服務。若需借出標本，須有標本館館主任（curator）或單位首長之借函經本館主任同意。非模式標本借期以一年為限，模式標本則以三個月為限；視情況經辦妥續借手續，得以延長。</font><br>
    </p>
  </article>
</div>
{% endblock %}
